header {background-color: rgb(182, 252, 248);}
.main {background-color: pink}
.sec {background-color: rgb(255, 226, 172);}
.header_wraper 
{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}
.header_logo
{
	flex-basis: 20%;
}
.header_menu
{
	display: flex;
	flex-wrap: wrap;
}
.header_item
{
	margin-right: 30px;
}
.header_item :last-child
{
	margin-right: 0;
}
.footer_warper
{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
}
.footer_br 
{
	margin-left: 30px;
}
.footer_item 
{
	margin-right: 20%;
}
.htmlcards
{
	display: grid;
	grid-template-columns: repeat(auto-fill, 20%);
}
.cards
{
	grid-column: span 1;
	margin-bottom: 10px;
}
.table {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #a0ffc4;
	border-top: 5px solid #a0ffc4;
	border-bottom: 3px solid #a0ffc4;
	border-collapse: collapse; 
	outline: 3px solid #00ff62;
	font-size: 15px;
	background: #a0ffc4!important;
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: #00ff62;
	border: none;
	text-align: center;
	font-size: 15px;
	border-top: 3px solid #a0ffc4;
	border-bottom: 3px solid #00ff62;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #a0ffc4;
	border-bottom: 3px solid #a0ffc4;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
.jod {background-color: deeppink;}
.grid-container{
display: grid;
justify-content: center;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr;
grid-gap: 2vw;
justify-items: center;
margin-top: 20px;
padding-top: 200px;
}
.main-form{
	width: 77%;
	border:5px solid rebeccapurple;
	padding: 40px;
	border-radius: 40px;
	box-shadow: black;
}
/* Текст не выделяется */
.noselect{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
html{box-sizing: border-box;}
body{
	font-family: 'Alegoreya Sans SC';
	font-style: normal;
	font-size: 18px;
	line-height: normal;
	font-weight: normal;
	--background-color: rgb(255, 255, 255);
	--text-color: black;
}
main{
	background: var(--background-color);
	color: var(--text-color);
}
:root{
	--dark-background-color: black;
	--dark-text-color:white;
}
body.theme-dark{
	--background-color: var(--dark-background-color);
	--text-color:var(--dark-text-color);
}
@media (prefers-color-scheme: dark) {
	body.theme-auto{
		--background-color: var(--dark-background-color);
		--text-color:var(--dark-text-color);
	}
}
.chart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .chart_title {
	width: 100%;
	margin-bottom: 70px;
  
	font-size: 21px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
  }
  
  .chart_data {
	width: 250px;
  }
  
  .chart_input-group {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .chart_input-group:last-of-type {
	margin-bottom: 95px;
  }
  
  .chart_label {
	max-width: 140px;
	margin-right: auto;
  }
  
  .input-field {
	font-size: inherit;
	color: inherit;
	text-transform: uppercase;
	text-align: center;
  
	white-space: normal;
	border: 1px solid #b3d5fc;
	border-radius: 5px;
	background-color: transparent;
  }
  
  .chart_input {
	width: 60px;
	margin-right: 5px;
  }
  
  .chart_submit-button {
	width: 100%;
	padding: 10px;
  
	cursor: pointer;
  }
  
  .chart_submit-button:hover {
	color: #1f2021;
  
	background-color: #b3d5fc;
  }
  .chart_canvas-wrapper {
	height: 250px;
	border: 1px solid #b3d5fc;
	border-radius: 5px;
  }